.carouselWrap {
    margin-top: 150px;
    margin-bottom: 100px;
    position: absolute;
    z-index: 0;
}
.carousel-inner{
    height: 500px;
    width: 100%;
    border-top: rgba(0, 0, 0, 0.616) 5px solid;
    border-bottom: rgba(0, 0, 0, 0.616) 5px solid;
   
}
.mainSearch {
    position: absolute !important;
    top: 45%;
    padding-left: 150px !important;
    padding-right: 150px !important;
    
}
.input-group{
z-index: 2;
border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    text-align: center;
}
