html {
    position: relative;
    min-height: 100%;
}
body { 
    background: url("../images/wallpaper.png"); 
    z-index: 0;
}
h1 {
    text-shadow: 0 20px 20px #050505;
}
.carouselWrap {
    margin-top: 175px;
    margin-bottom: 50px;
    padding: 0px !important;
    position: relative;
    z-index: 0;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
.carousel-inner{
    height: 500px;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.384) 5px solid;
}
.carouselImg{
    border-top: rgba(0, 0, 0, 0.384) 5px solid;
    border-bottom: rgba(0, 0, 0, 0.384) 5px solid;
}
.mainSearch {
    position: absolute !important;
    top: 50%;
    left: 10%;
    margin:auto;
    max-width: 80%;
    
}
.input-group{
    z-index: 2;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f52c;
    text-align: center;
    
}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
   /* border-radius: 0 0 85% 85% / 30%;*/
    margin-bottom: -175px !important;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}
h1 {
	font-family: 'Dancing Script', cursive !important;
	font-size: 150px !important;
	margin-bottom: -30px !important;
}
/* Tooltip on plus main page*/
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.582);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 4;
    top: -40px;
    left: 81%;
}
#addMore:hover .tooltiptext {
    visibility: visible;
}
.first {
    margin-left:45px; 
}
.last{
    padding-right: -70px;
}
.wrapper {
    padding: 50px;
}
.inner2 {
    padding:20px;
}
.card-pad {
    margin:auto;
    padding: 0 !important;
    position: relative;
    border-radius: 20px !important;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    
}
.recipe-btn, .fav-recipe-btn {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.815) !important;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.card-body {
    padding: 0;
}
.card-img-top {
    border: 5px solid  rgba(51, 51, 51, 0.815);
    border-radius: 20px !important;
}
.mainCard{
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: rgba(51, 51, 51, 0.514) !important;
    border: none !important;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
div.modal-content {
    position: absolute;
    height: auto;
    border: 0.5px solid black;
}
div.modal-header {
    border: 0.5px solid black;   
}
div.modal-body {
    border: 0.5px solid black;
    height: 600px;
    overflow-y: scroll;
   
} 

div.modal-footer {
    border: 0.5px solid black;
    font-family: 'Tinos', serif;
}
#map, #map1 {
    height: 225px;
    display: none; 
    width: 100%;
    background: white;
}
#miles, #miles1 {
    width: 15%;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#spin {
    display: none;
}
.moreResults {
    position: absolute;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    right: 15px;
    margin-top: -45px !important;
    margin-bottom: 20px;
}
.homeBtn {
    position: absolute;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    right: 15px;
    margin-top: -45px !important;
    margin-bottom: 20px;
}
.secondSearch {
    margin-top: -30px !important;
}

.tooltipfav {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.582);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 4;
    top: 48%;
    left: 83%;
    font-size: .3em;
}
.addFav{
    color: gold;
    font-size: 30px;
    position: absolute;
    bottom: 75%;
    left: 86%;
    text-shadow: 5px 5px 5px black;
}
.addFav:hover{
    cursor: pointer;
    font-size: 40px;
}

.addFav:hover .tooltipfav{
    visibility: visible;
}


.favBtn {
    box-shadow: 0 22px 22px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    position: absolute !important;
    top: 56%;
    left: 10%;
    margin:auto;
    border-radius: 5px;
}

.favoritesCard{
    display: inline-flex !important;
}

#favsInfo{
   display: none; 
}
@media only screen and (max-width: 600px) {
    .favBtn {
        box-shadow: 0 22px 22px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
        position: absolute !important;
        top: 54%;
        left: 10%;
        margin:auto;
        border-radius: 5px;
    }
    .mainSearch {
        position: absolute !important;
        top: 48%;
        left: 10%;
        margin:auto;
        max-width: 80%;
    } 
    #txtEmail.email2 {
        position: absolute;
        box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
        left: 10px !important;
        top: 50px;
    }
    #txtPassword.password2 {
        position: absolute;
        box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
        left: 200px;
        top: 50px;
    }
    .loginBtn1 {
        position: fixed;
        bottom: 10px;
        right:110px;
    }
    .signupBtn1 {
        position: fixed;
        bottom: 10px;
        right:10px;   
    }
    #txtEmail.email1 {
        position: fixed;
        bottom: 100px;
        right:10px;
        
    }
    #txtPassword.password1 {
        position: fixed;
        bottom: 60px;
        right:10px;
    }
    h5.modal-title {
        font-size: 4em;
        margin-bottom: -90px !important;
    }
    .homeBtn {
    position: absolute;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    right: 15px;
    margin-top: -45px !important;
    margin-bottom: 20px;
    }
}
.modal-content{ 
   background: url("../images/wallpaper.png"); 
}
h5.modal-title.favoriteText{
    font-family: 'Dancing Script', cursive !important;
    color: white;
    font-size: 4.5em;
    text-shadow: 0 20px 20px #050505;
    padding-left:25%;
}
#modal-image{
    float: left;
    margin-bottom: 15px;
}
#list {
    float: right;
}

.modal-text {
    color: #333;

}
#title {
    font-family: 'Abril Fatface', cursive;
}
#list, #instructions, #css-likes {
    font-family: 'Tinos', serif;
}
#instructionList {
    clear: left;
}
#cook-time,  #diets{
    font-size: 1.25em;
    font-family: 'Tinos', serif;
}
.loginBtn2 {
    position: absolute;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    left: 10px;
    margin-top: -20px !important;
    margin-bottom: 20px;
}
.signupBtn2 {
    position: absolute;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    left: 100px;
    margin-top: -20px !important;
    margin-bottom: 20px;
}
.loginBtn1{
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
.signupBtn1{
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
.email2 {
    position: absolute;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    left: 200px;
    margin-top: -15px !important;
    margin-bottom: 20px;
}
.password2 {
    position: absolute;
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
    left: 380px;
    margin-top: -15px !important;
    margin-bottom: 20px;
}
.email1 { 
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);

}
.password1 {
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);

}
.login {
    position: absolute;
    top: 130px !important;
    right: 145px;
    z-index: 3;
}
.logoutBtn2 {
    margin-top: -25px !important;
     box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
.logoutBtn1 {
         box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
}
.modal-title {
    font-family: 'Dancing Script', cursive !important;
    color: white;
    font-size: 9em;
    text-shadow: 0 20px 20px #050505;
    margin-top: -90px;
    margin-bottom: -30px !important;
}
/* .hide {
    visibility: hidden;
} */
